<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/Natvs/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Natvs" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>